@model NDCRegistration.Models.HighscoreModel
@using NDCRegistration
@{
  ViewData["Title"] = "Highscores";
}
<ul style="list-style: decimal;">

  @foreach (var item in Model.UserJson)
{
  <li class="item"> @(item)</li>
}
</ul>
